h1 {
    text-align: center;
}
.txt_welcome {
    text-align: center;
    margin-bottom: 80px;
}
.card_product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    text-align: center;
}
.card_title {
    font-size: 20px;
}
.card_button {
    font-size: 16px;
    width: 150px;
    height: 30px;
}
.card_img {
    width: 300px;
    height: 300px;
}